{% extends "abase.html" %}

{% block info %}
  <h2 id="new_gives" class="page-header">收到的新书
      {% if gives.has_next %}   
      <a class="btn btn-small pull-right" href="{{ url_for('a_give', page = gives.next_num) }}">
      <span>
        下一页
      </span>
      </a>
      {% endif %} 
      {% if gives.has_prev %}   
      <a class="btn btn-small pull-right" href="{{ url_for('a_give', page = gives.prev_num) }}">
      <span>
        上一页
      </span>
      </a>
      {% endif %} 
    </h2>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <span>Name</span>
      </th>
      <th>
        <span>Create time</span>
      </th>
      <th>
        <span>User</span>
      </th>
      <th>
        <span>Operation</span>
      </th>
    </tr>
    </thead>

    <tbody>
    {% for give in gives.items %}
    <tr>
    <td>
      <a href="{{url_for('info', b_id = give.book_id )}}">{{ give.book.name }}</a>
    </td>

    <td>
      <p>{{ give.time.strftime("%Y-%m-%d %H:%M:%S") }}</p>
    </td>

    <td>
      <a id="{{give.user.id}}" class="theme-login" href="javascript:;">{{ give.user.username }}</a>
    </td>

    <td>
        <a class="btn btn-xs btn-success" href="{{url_for('check_give', g_id = give.id )}}?act=pass&page={{gives.page}}">Pass</a>
        <a class="btn btn-xs btn-danger" href="{{url_for('check_give', g_id = give.id )}}?act=reject&page={{gives.page}}">Reject</a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}